.about-project {
  background-color: #202020;
  margin: 0;
  padding: 0;
  width: 100%;
}

.about-project__block {
  /* app__section */
  padding: 110px 0;
  display: flex;
  flex-direction: column;
}

.about-project__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 110px 0;
  padding: 0;
}

.about-project__content-block {
  max-width: 550px;
}

.about-project__content-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.about-project__content-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 26px 0 0 0;
}

.about-project__duration {
  display: grid;
  grid-template-columns: minmax(100px, 228px) minmax(184px, 912px);
  grid-template-rows: minmax(35px, 36px) minmax(min-content, max-content);
  row-gap: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.about-project__duration-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
  background-color: #303030;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__duration-title_green {
  background-color: #3ddc84;
  color: #000;
}

.about-project__duration-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #a0a0a0;
}

@media screen and (max-width: 920px) {
  .about-project__block {
    padding: 90px 0;
  }
  .about-project__contents {
    margin: 0 0 93px 0;
  }
  .about-project__content-block {
    max-width: 319px;
  }
  .about-project__content-text {
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__duration {
    grid-template-columns: minmax(100px, 140px) minmax(184px, 912px);
  }
  .about-project__duration-text {
    font-weight: 400;
  }
}

@media screen and (max-width: 460px) {
  .about-project__block {
    padding: 70px 0;
  }
  .about-project__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 60px 0;
    padding: 0;
  }
  .about-project__content-block {
    max-width: 319px;
  }
  .about-project__content-block_margin-mod {
    margin-top: 56px;
  }
  .about-project__content-title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__content-text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 18px;
  }
  .about-project__duration {
    grid-template-columns: minmax(100px, 140px) minmax(184px, 912px);
    row-gap: 10px;
  }
  .about-project__duration-title {
    font-size: 11px;
  }
  .about-project__duration-text {
    font-size: 11px;
    line-height: normal;
  }
}
