.app {
  color: white;
  border: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', 'arial', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.app__section {
  max-width: 1140px;
  width: 89.0625%;
  margin: 0 auto;
}

@media screen and (max-width: 920px) {
  .app__section {
    width: 86.9791%;
  }
}

@media screen and (max-width: 460px) {
  .app__section {
    width: 88.75%;
  }
}  