.technologies {
  background-color: #272727;
  padding: 110px 0 90px 0;
}

.technologies__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technologies__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 100px 0;
  padding: 0;
}

.technologies__content-title {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; 
  letter-spacing: -2px;
}

.technologies__content-text {
  max-width: 460px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  padding: 0;
  margin: 26px 0 0 0;
}

.technologies__list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.technologies__list-item {
  width: 90px;
  height: 60px;
  background: #303030;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies__list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 920px) {
  .technologies {
    padding: 90px 0 90px 0;
  }
  .technologies__content-title {
    margin: 10px 0 0 0;
  }
  .technologies__list-item {
    width: 84px;
    height: 57px;
  }
  .technologies__list-text {
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .technologies__content {
    margin: 0 0 83px 0;
  }
  .technologies__content-text {
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.48px;
    margin: 22px 0 0 0;

  }
}

@media screen and (max-width: 460px) {
  .technologies__list {
    width: 65%;
  }
  .technologies__content {
    margin: 0 0 50px 0;
  }
}