.about-me {
  background-color: #202020;
  padding: 0;
  margin: 0;
  width: 100%;
}

.about-me__block {
  /* app__section */
  padding: 110px 0 125px 0;
}

.about-me__content {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.about-me__info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

.about-me__content-title {

}

.about-me__content-subtitle {

}

.about-me__content-text {

}

.about-me__content-link {

}

.about-me__content-img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}